.top-bar .filename {
  max-width: 600px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.top-bar {
  margin-bottom: 0;
}
body {
  padding-top: 98px!important;
}
a.play-file {
  word-wrap: break-word;
}
.folders .side-nav li a {
  word-wrap: break-word;
  font-weight: bold;
}

@media only screen and (max-width: 767px) {
  .folders .side-nav {
    padding: 0;
  }
  .folders .side-nav a {
    padding: 3px;
  }
}